<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @contact.company %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Office phone number:</strong>
  <%= @contact.office_phone_number %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @contact.office_phone_extension %>
</p>

<p>
  <strong>Cell phone number:</strong>
  <%= @contact.cell_phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
