<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if current_user.try(:admin?) %>
      <%= form.collection_select :email, User.order(:email), :id, :email %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :segment_category %><br>
    <%= form.collection_select :segment_category, Company::CATEGORIES, :to_s, :to_s %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :company_phone_number %>
  </div>

  <div class="field">
    <%= form.label :website_address %>
    <%= form.text_field :website_address, id: :company_website_address %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :company_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
