<div class="container">
  <% @companies.each do |company| %>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <%= company.name %>
          </div>
          <div class="card-block">
            <div class="col-md-6">
              <ul>
                <li><%= company.status %></li>
                <li><%= company.website_address %></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li><%= company.user %></li>
                <li><%= company.phone_number %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header">
            Actions
          </div>
          <div class="card-block">
            <ul>
              <li><%= link_to("Show", company) %></li>
              <li><%= link_to("Edit", edit_company_path(company)) %></li>
              <li><%= link_to("Destroy", company, method: :delete, data: { confirm: 'Are you sure?' }) %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>

  <%= link_to 'New Company', new_company_path %>
</div>

