
<div class="row">
  <h1>Companies</h1>
</div>
<table>
  <div class="row">
    <thead>
      <tr>
        <div class="col">
          <th>Name</th>
        </div>
        <div class="col">
          <th>Phone number</th>
        </div>
        <div class="col">
          <th>Website address</th>
        </div>
        <div class="col">
          <th>User</th>
        </div>
        <div class="col">
          <th>Actions</th>
        </div>
      </tr>
    </thead>
  </div>
  <div class="row">
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <div class="col">
            <td><%= company.name %></td>
          </div>
          <div class="col">
            <td><%= company.phone_number %></td>
          </div>
          <div class="col">
            <td><%= company.website_address %></td>
          </div>
          <div class="col">
            <td><%= company.user %></td>
          </div>
          <div class="col">
            <td><%= link_to 'Show', company %></td>
            <td><%= link_to 'Edit', edit_company_path(company) %></td>
            <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
